<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <style>
        .logout-button {
            position: fixed;
            top: 10px;
            right: 10px;
            padding: 10px 20px;
            background-color: #f2f2f2;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>

<form th:action="@{/logout}" th:method="post">
    <input class="logout-button" type="submit" value="Выйти">
</form>

<form th:method="post" th:action="@{/admin/edit}">
    <input type="hidden" th:field="*{user.id}"/>
    <br><br>

    <label>Name: <input type="text" th:field="*{user.name}"/></label>
    <br><br>

    <label>Lastname: <input type="text" th:field="*{user.lastname}"/></label>
    <br><br>

    <label>Age: <input type="text" th:field="*{user.age}"/></label>
    <br><br>

    <label>Email: <input type="text" th:field="*{user.email}"/></label>
    <br><br>

    <label>Password: <input type="text" th:field="*{user.password}"/></label>
    <br><br>

    <label>Role:
        <input type="checkbox" name="roles"
               th:each="role : ${roles}"
               th:text="${role.getName()}"
               th:value="${role.getId()}"
               th:field="*{roles}"/>
        <input type="submit" value="Edit">
    </label>
</form>

</body>
</html>