<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
    <style>
        .logout-button {
            position: fixed;
            top: 10px;
            right: 10px;
            padding: 10px 20px;
            background-color: #f2f2f2;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>

<form th:action="@{/logout}" th:method="post">
    <input class="logout-button" type="submit" value="Выйти">
</form>

<form th:method="post" th:action="@{/admin/new}" th:object="${user}">
    <label for="name">Enter username: </label>
    <input type="text" th:field="*{name}" id="name">
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br><br>

    <label for="lastname">Enter lastname: </label>
    <input type="text" th:field="*{lastname}" id="lastname">
    <div style="color: red" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></div>
    <br><br>

    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age">
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
    <br><br>

    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email">
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    <br><br>

    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password">
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    <br><br>

    <label>Role:
        <input type="checkbox" name="roles"
               th:each="role : ${roles}"
               th:text="${role.getName()}"
               th:value="${role.getId()}"
               th:field="*{roles}"/>
        <input type="submit" value="Create">
    </label>
</form>

</body>
</html>